recursive-include debian  changelog compat control copyright rules
recursive-include debian  pycompat pyversions
recursive-include debian  *.init *.dirs *.default *.install
recursive-include debian/source format
recursive-include resources/sounds *.wav
prune debian/tmp
prune debian/op2d
include MANIFEST.in *.ini.sample
recursive-include op2d/web/frontend/templates *
