<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>

        OP&#178; Configuration

    </title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/jquery.dialog2.css">

    <link rel="stylesheet" href="assets/css/bootstrap-select.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">

    <!-- Place anything custom after this. -->
</head>

<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#start_tab" data-toggle="tab">OP<sup>2</sup></a>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#account_tab" data-toggle="tab"><i class='icon-group'></i> Accounts</a></li>
                        <li><a href="#audio_tab" data-toggle="tab"><i class='icon-headphones'></i> Audio</a></li>
<!--
                        <li><a href="#"><i class='icon-keyboard'></i> Chat</a></li>
                        <li><a href="#"><i class='icon-upload-alt'></i> File Transfer</a></li>
-->
                        <li><a href="#system_tab" data-toggle="tab"><i class='icon-desktop'></i> System</a></li>
                    </ul>
                    <form class="navbar-form" role="call">
                        <div class="input-group col-sm-3 col-md-3 col-lg-3 pull-right">
                            <input type="text" class="form-control" placeholder='SIP address/number'>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Call</button>
                            </span>
                        </div>
                    </form>

                </div><!--/.nav-collapse -->
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            <div class="tab-content">

                <div id='start_tab' class="tab-pane active fade in">
                    <div class="page-header">
                        <h1>OP<sup>2</sup></h1>
                    </div>
                    <div class='row'>
                        <div class="col-md-9">
                            <p>This is the webinterface of OP<sup>2</sup>. This is a Rasberry Pi based SIP phone.</p>
                            <p>With the interface you can setup or configure the accounts. You can also make calls</p>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/logo.png" class="img-thumbnail">
                        </div>
                    </div>
                </div>

                <div id='account_tab' class="tab-pane fade">
                    <div class="page-header">
                        <h1><i class='icon-group'></i> Accounts</h1>
                    </div>
                    <div class='row'>
                        <div class="col-md-3 bs-sidebar">
                            <ul id="account_list" class="nav nav-list bs-sidenav">
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <ul class="nav nav-tabs ">
                                <li id='account_info_tab' class='active'><a href="#account_info" data-toggle="tab">Account Information</a></li>
                                <li><a href="#account_media" data-toggle="tab">Media</a></li>
                                <li id='account_server_tab'><a href="#account_server" data-toggle="tab">Server Settings</a></li>
                                <li id='account_network_tab'><a href="#account_network" data-toggle="tab">Network</a></li>
                                <li id='account_advanced_tab'><a href="#account_advanced" data-toggle="tab">Advanced</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="account_info">

                                    <form class="form-horizontal" id="account_info_form" role="form">
                                        <div class="form-group smaller">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <div class="checkbox smaller">
                                                    <label>
                                                      <input type="checkbox" name='enabled'> Use Account
                                                  </label>
                                              </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-2 control-label">Display name</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" name="display_name" placeholder="Display name" value='test' autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                                            <div class="col-lg-10">
                                                <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password" autocomplete="off">
                                            </div>
                                        </div>
                                    </form>

                                </div>

                                <div class="tab-pane" id="account_media">
                                    <form class="form-horizontal" id="account_media_form" role="form">
                                        <legend>Audio Codecs</legend>
                                        <ol class='nav' id='audio_codecs'></ol>
                                        <div class="col-lg-offset-10 col-lg-2">
                                            <button id='reset_audio_codecs' class='btn btn-sm btn-default btn-disabled pull-right' disabled>Reset</button>
                                        </div>
                                        <legend>RTP Options</legend>
                                        <div class="form-group smaller">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <div class="checkbox smaller">
                                                    <label>
                                                      <input type="checkbox" name='enabled'> Send inband DTMF
                                                  </label>
                                              </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="" class="col-lg-2 control-label">SRTP Encryption</label>
                                            <div class="col-lg-10">
                                                <select id='test' class='selectpicker' data-width="auto" name="srtp_encryption">
                                                    <option value="optional">Optional</option>
                                                    <option value="disabled">Disabled</option>
                                                    <option value="mandatory">Mandatory</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="account_server">
                                    <form class="form-horizontal" id="account_server_form" role="form">

                                        <legend>SIP Proxy</legend>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name='enabled'> Always use my proxy for outgoing sessions
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Outbound Proxy</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                            <label for="inputAccount" class="col-lg-1 control-label">Port</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>

                                            <label for="relay_transport" class="col-lg-1 control-label">Transport</label>
                                            <div class="col-lg-2">
                                                <select class='selectpicker' data-width="auto" name="proxy_transport">
                                                    <option value="UDP">UDP</option>
                                                    <option value="TCP">TCP</option>
                                                    <option value="TLS">TLS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Auth Username</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>

                                        <legend>MSRP Relay</legend>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name='enabled'> Always use my relay for outgoing sessions
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Relay</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                            <label for="inputAccount" class="col-lg-1 control-label">Port</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                            <label for="inputAccount" class="col-lg-1 control-label">Transport</label>
                                            <div class="col-lg-2">
                                                <select class='selectpicker' data-width="auto" name="relay_transport">
                                                    <option value="TLS">TLS</option>
                                                    <option value="TCP">TCP</option>
                                                </select>
                                            </div>
                                        </div>

                                        <legend>Extra Server Settings</legend>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Voicemail URI</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">XCAP Root URL</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Server Tools URL</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Conference Server</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="account_network">
                                    <form class="form-horizontal" id="account_network_form" role="form">

                                        <legend>Network Settings</legend>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name='enabled'> Use ICE
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="relay_transport_general" class="col-lg-3 control-label">MSRP Transport</label>
                                            <div class="col-lg-9">
                                                <select class='selectpicker' data-width="auto" name="relay_transport_general">
                                                    <option value="TLS">TLS</option>
                                                    <option value="TCP">TCP</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                 <div class="tab-pane" id="account_advanced">
                                    <form class="form-horizontal" id="account_network_form" role="form">

                                        <legend>SIP Settings</legend>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Register Interval</label>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-addon">seconds</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <button id='reregister' data-loading-text="Re-registering" class="btn btn-primary"><i class='icon-refresh'></i> Re-register</button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Publish Interval</label>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-addon">seconds</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Register Interval</label>
                                            <div class="col-lg-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-addon">seconds</span>
                                                </div>
                                            </div>
                                        </div>

                                        <legend>Dialing landline and mobile numbers</legend>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Replace preceding + with</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">External line prefix</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                   <!--
                                        <legend>TLS Settings</legend>
                                        <div class="form-group">
                                            <label for="inputAccount" class="col-lg-3 control-label">Certificate file</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="display_name">
                                            </div>
                                        </div>
                                        <div class="form-group smaller">
                                            <div class="col-lg-offset-3 col-lg-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name='enabled'> Verify server
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id='audio_tab' class="tab-pane fade">
                    <div class="page-header">
                        <h1><i class='icon-headphones'></i> Audio</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <form class="form-horizontal" id="audio_devices_form" role="form">
                                <legend>Audio Devices</legend>
                                <div class="form-group">
                                    <label for="input_device" class="col-lg-3 control-label">Input Device</label>
                                    <div class="col-lg-9">
                                        <select class='selectpicker' data-width="auto" name="input_device">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="output_device" class="col-lg-3 control-label">Output Device</label>
                                    <div class="col-lg-9">
                                        <select class='selectpicker' data-width="auto" name="output_device">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="alert_device" class="col-lg-3 control-label">Alert Device</label>
                                    <div class="col-lg-9">
                                        <select class='selectpicker' data-width="auto" name="alert_device">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="samplerate" class="col-lg-3 control-label">Sample Rate</label>
                                    <div class="col-lg-9">
                                        <select class='selectpicker' data-width="auto" name="samplerate">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        <div class="checkbox">
                                            <label class='control-label'>
                                                <input type="checkbox" name='echo'> Enable Echo Cancelling
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5">
                            <form class="form-horizontal" id="audio_codecs_form" role="form">
                                <legend>Audio Codecs</legend>
                                <ol class='nav' id='audio_codecs_general'></ol>
                            </form>
                        </div>
                    </div>
                </div>

                <div id='system_tab' class="tab-pane fade">
                    <div class="page-header">
                        <h1><i class='icon-desktop'></i> System</h1>
                    </div>
                    <h2><i class='icon-info-sign'></i> Info</h2>
                    <div class='row'>
                        <div class="col-lg-12" id='system_info'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Account</h4>
                </div>
                <form class="form-horizontal" id="account_add_form" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Display name</label>
                            <div class="col-lg-9">
                                <input type="text" name='display_name' class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">SIP address</label>
                            <div class="col-lg-9">
                                <input type="text" name='id' class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-9">
                                <input type="password" name='password' class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="footer">
        <div class="container">
            <p class="muted credit">The OP<sup>2</sup> Project, courtesy of <a href="http://twitter.com/saghul">Saúl</a> and <a href="http://twitter.com/tijmenNL">Tijmen</a>.</p>
        </div>
    </div>


    <!-- JS and analytics only. -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/js/jquery-ui-1.8.23.custom.min.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>

    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>

    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.form.min.js"></script>

    <script type="text/javascript" src="/assets/js/jquery.dialog2.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.dialog2.helpers.js"></script>

    <script src="/assets/js/application.js"></script>
</body>
</html>

