<!DOCTYPE html>
<html>
<head>
    <title>OP^2 Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">OP^2 Device Configuration</a>
            </div>
        </div>
        <div id="main" class="container">

            Hello world!

            <div id="push"></div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="muted credit">The OP^2 Project, courtesy of <a href="http://twitter.com/saghul">Saúl</a> and <a href="http://twitter.com/tijmenNL">Tijmen</a>.</p>
        </div>
    </div>
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>

