/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    background-color: #ffffff;
    background-image: url('/assets/images/NSLinenBackgroundPattern.png');
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.alertify-logs {
    top: 60px;
    right: 10px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 40px;
    margin: 10px -15px 0;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 55px 15px 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#wrap > .container > .tab-content {
    min-height:603px;
}
.container .credit {
    color: #999;
    margin: 10px 0;
}

code {
    font-size: 80%;
}

.navbar-brand {
    margin-right: 7.5px;
}


/* Docs sidebar
-------------------------------------------------- */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
/*  margin-top: 30px;
  margin-bottom: 30px;*/
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
/*  color: #716b7a;*/
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.smaller {
    margin-top:5px;
    margin-bottom:0;
}
.smaller-top  {
    margin-top:0px;
    margin-bottom:0;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.navbar-form > div.btn-group.bootstrap-select.pull-right {
  margin-bottom:0;
}

ol#audio_codecs, ol#audio_codecs_general{
    list-style-type: none;
    margin-left: 0;
    border-radius: 4px;
    padding-left: 15px ;
    padding-right: 15px;
    border: solid 1px #ddd;
    padding-top: 4px;
    padding-bottom:4px;
    margin-bottom:4px;
}
ol#audio_codecs li.placeholder, ol#audio_codecs_general li.placeholder{
  position: relative;
  /** More li styles **/
}
ol#audio_codecs li.placeholder:before, ol#audio_codecs_general li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ol#audio_codecs li:hover, ol#audio_codecs_general li:hover{
    background-color: #eeeeee;
}
ol#audio_codecs li, ol#audio_codecs_general li {
    border-radius:4px;
    line-height:34px;
    font-size: 14px;
    height: 34px;
}

#audio_codecs input[type="checkbox"], #audio_codecs_general input[type="checkbox"] {
    margin-top:11px;
}

#account_network_tab,#account_advanced_tab,#account_server_tab {
    display:none;
}

#account_buttons {
  padding-top:10px;
}
.selected {
    font-weight: bold;
}

.success {
  border-color: #468847 !important;
  color:#468847;
}

.error {
  border-color: #b94a48 !important;
  color: #b94a48;
}

